<!--Assignment_01 - Ugur Pekunsal - 301158229 - 6/4/2021-->

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <h4>&copy; Copyright 2021 - Ugur Pekunsal - 301158229</h4>
  </div>
</nav>
