/* your custom css goes here */
#bootstrap-overrides {
  border: none;
  height: 0.5rem;
}

.col * {
  text-align: center;
}

#about-col {
  background-image: url(../assets/img/about-background.jpg);
}

#projects-col {
  background-image: url(../assets/img/projects-background.jpeg);
}

#services-col {
  background-image: url(../assets/img/services-background.gif);
}

#contact-col {
  background-image: url(../assets/img/contact-background.jpg);
}

#pknsl-image {
  background-image: url(../assets/img/pknsl-image.PNG);
}

#homepage-simplifier-image {
  background-image: url(../assets/img/homepage-simplifier.PNG);
}

#custom-laptop-lid-image {
  background-image: url(../assets/img/custom-laptop-lid.jpg);
}

#future-projects-image {
  background-image: url(../assets/img/future-projects.jpeg);
}

.little-square {
  border-radius: 3rem;
  margin: 2rem;
  height: 30rem;
  background-size: cover;
  background-color: #cccccc;
}

.little-square-text {
  margin-top: 18rem;
  font-size: large;
  background-color: #ffffffb4;
  border-radius: 2.5rem;
  height: 7rem;
}

.little-square-text:hover {
  background-color: #8cc7a0;
  color: initial;
}

.no-hover:hover {
  background: none;
}

.little-square-text p {
  padding: 0.2rem;
}

a {
  text-decoration: none;
  color: initial;
}

#about-me-content img {
  max-height: 20rem;
  width: auto;
}

#about-me-content p {
  padding-top: 5rem;
}
