/* Assignment_01 - Ugur Pekunsal - 301158229 - 6/4/2021 */
#bootstrap-overrides {
  border: none;
  height: 0.5rem;
}

.col * {
  text-align: center;
}

#about-col {
  background-image: url(../assets/img/about-background.jpg);
}

#projects-col {
  background-image: url(../assets/img/projects-background.jpeg);
}

#services-col {
  background-image: url(../assets/img/services-background.gif);
}

#contact-col {
  background-image: url(../assets/img/contact-background.jpg);
}

#pknsl-image {
  background-image: url(../assets/img/pknsl-image.PNG);
}

#homepage-simplifier-image {
  background-image: url(../assets/img/homepage-simplifier.PNG);
}

#custom-laptop-lid-image {
  background-image: url(../assets/img/custom-laptop-lid.jpg);
}

#future-projects-image {
  background-image: url(../assets/img/future-projects.jpeg);
}

.little-square {
  border-radius: 3rem;
  margin: 2rem;
  height: 30rem;
  background-size: cover;
  background-color: #cccccc;
}

.little-square-text {
  margin-top: 18rem;
  font-size: large;
  background-color: #ffffffb4;
  border-radius: 2.5rem;
  height: 7rem;
}

.little-square-text:hover {
  background-color: #8cc7a0;
  color: initial;
}

.no-hover:hover {
  background: none;
}

.little-square-text p {
  padding: 0.2rem;
}

a {
  text-decoration: none;
  color: initial;
}

#about-me-content img {
  max-height: 20rem;
  width: auto;
}

#about-me-content p {
  padding-top: 5rem;
}

.contact-square {
  margin-top: 5rem;
}

.form {
  max-width: 70%;
  margin-top: 2rem;
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  border: 1px solid darkgrey;
  border-radius: 4px;
}

.input-group-addon .fa {
  font-size: 18px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  margin-bottom: 0;
}

.input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.login {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: lightgrey;
  border-radius: 0.3rem;
}

.login input {
  background-color: white;
  border-color: darkgrey;
  border-radius: 0.4em;
  width: 100%;
}

.edit-task {
  position: relative;
  top: -31px;
  display: none;
}
