<div class="container">
  <h1>Contact me</h1>
  <hr id="bootstrap-overrides" />

  <h2>
    If you would like to reach me, you can use the following channels or use the
    contact form at the bottom of this page.
  </h2>

  <div class="clearfix" id="about-me-content">
    <img
      src="/assets/img/profile-photo.jpg"
      class="col-md-6 float-md-end mb-3 ms-md-3"
      alt="Photo of Ugur Pekunsal"
    />

    <p>
      Hi, I am Ian, and I started to work with computers in 6th grade when I
      joined the robotics club at my school. Three years later I joined the
      robotics club of my high school as a programmer. We participated in
      competitions which took place in the Turkish Capital of Ankara. Later in
      my junior year, I came to Canada and started my own robotics club there.
      It was a very challenging environment as I was new to Canada, I had to
      speak in English and I was responsible for designing the robot as well as
      programming it. Yet, in those conditions, I persevered. My passion for
      computer science only increased since then. Now, as a software engineering
      student, I am feeling more excited than ever before because of getting so
      close to joining the workforce which I dreamt of since I was a child.
    </p>

    <a href="/assets/files/Ugur (Ian) Pekunsal.pdf" download
      >Download my resume.</a
    >
  </div>
</div>
