<!--Assignment_01 - Ugur Pekunsal - 301158229 - 6/4/2021-->

<h1>Welcome to my site</h1>
<hr id="bootstrap-overrides" />

<!--mission statement-->
<p>
  My name is Ugur Pekunsal and I made this website for COMP229. <br />
  Currently I am in my 3rd semester in the software engineering technician
  program. <br />
  Once I graduate, I believe I will become a stackoverflow guru.
</p>

<!--columns-->
<div class="row">
  <div class="col little-square" id="about-col">
    <a href="/about">
      <div class="little-square-text">
        <h2>About Page</h2>
        <p>This is the page where you can find more about me!</p>
      </div>
    </a>
  </div>

  <div class="col little-square" id="projects-col">
    <a href="/projects">
      <div class="little-square-text">
        <h2>Projects Page</h2>
        <p>This is the page where you can find more about what I did!</p>
      </div>
    </a>
  </div>

  <!-- Force next columns to break to new line at md breakpoint and up -->
  <div class="w-100 d-none d-md-block"></div>

  <div class="col little-square" id="services-col">
    <a href="/services">
      <div class="little-square-text">
        <h2>Services Page</h2>
        <p>This is the page where you can find more about me and what I do!</p>
      </div>
    </a>
  </div>

  <div class="col little-square" id="contact-col">
    <a href="/contact">
      <div class="little-square-text">
        <h2>Contact Page</h2>
        <p>This is the page where you can contact me!</p>
      </div>
    </a>
  </div>
</div>
<br /><br /><br />
