<div class="container">
  <h1>My Projects</h1>
  <hr id="bootstrap-overrides" />

  <!--projects introduction-->
  <p>
    I love programming and engineering. Since the COVID-19 pandemic started, I
    had a lot of free time to spend on projects while stuck at home. These
    projects are how I spent my 1 year in quarantine.
  </p>

  <!--columns-->
  <div class="row">
    <div class="col little-square-text no-hover">
      <h2>www.pknsl.com</h2>
      <p>
        I made this website as a hobby in June 2020. I use it for blogging,
        e-commerce and also host family archives in a subdomain for my family
        members to easily access.
      </p>
    </div>

    <div class="col little-square" id="pknsl-image"></div>

    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <div class="col little-square" id="homepage-simplifier-image"></div>

    <div class="col little-square-text no-hover">
      <h2>e.centennial Homepage Simplifier</h2>
      <p>
        Last semester our e.centennial website was bloated with too many
        disclaimers and banners. I found it annoying and distracting so I coded
        this Google Chrome extension to remove anything above the course content
        for easier access. You can find it on the Chrome store.
      </p>
    </div>

    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <div class="col little-square-text no-hover">
      <h2>Custom Laptop Lid</h2>
      <p>
        I did several small projects during the pandemic. Apart from decorating
        the house and tinkering with small laptops; my most proud is customizing
        my main laptop’s lid.
      </p>
    </div>

    <div class="col little-square" id="custom-laptop-lid-image"></div>

    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <div class="col little-square" id="future-projects-image"></div>

    <div class="col little-square-text no-hover">
      <h2>Future Projects</h2>
      <p>
        I’m currently designing a machine that I would like to bring to reality
        after graduation.
      </p>
    </div>
  </div>
  <br /><br /><br />
</div>
