<!--Assignment_01 - Ugur Pekunsal - 301158229 - 6/4/2021-->

<h1>Services</h1>
<hr id="bootstrap-overrides" />

<!--service subtitle-->
<h2>I offer a variety of web design packages at competitive rates:</h2>
<br /><br /><br /><br />

<!--columns-->
<div class="row">
  <div class="col tiny-square">
    <img
      src="/assets/img/service1.gif"
      alt="3 page web design poster"
      width="250px"
    />
    <div class="tiny-square-text no-hover">
      <h2>Basic Website Design Package</h2>
      <p>$200.00</p>
    </div>
  </div>

  <div class="col tiny-square">
    <img
      src="/assets/img/service2.png"
      alt="3 page web design poster"
      width="250px"
    />
    <div class="tiny-square-text no-hover">
      <h2>Basic Website Design Package</h2>
      <p>$200.00</p>
    </div>
  </div>

  <div class="col tiny-square">
    <img
      src="/assets/img/service3.png"
      alt="3 page web design poster"
      width="250px"
    />
    <div class="tiny-square-text no-hover">
      <h2>Basic Website Design Package</h2>
      <p>$200.00</p>
    </div>
  </div>

  <div class="col tiny-square">
    <img
      src="/assets/img/service4.gif"
      alt="3 page web design poster"
      width="250px"
    />
    <div class="tiny-square-text no-hover">
      <h2>Basic Website Design Package</h2>
      <p>$200.00</p>
    </div>
  </div>
</div>
<br /><br /><br />
